.row{
    margin-left: 20px;
    margin-bottom: 20px;
}
::-webkit-scrollbar{
    display: none;
}

.movie-row{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}

.movie{
    width: 100%;
    height: 200px;
    margin-right: 15px;
    transition: 450ms;
}

.movie:hover{
    transform: scale(1.04);
}

.movie-poster{
    height: 300px;
}